.grid-container2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F80ED;
  border-radius: 16px 10px 0px 0px;
  color: #ffffff;
  padding: 20px 40px 20px 40px;
  font-weight: 700;
  font-size: 18px;
}

.card-container {
  padding: 0px 40px 0px 40px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
}

.item-name {
  color: #4E598C;
}

.item-card {
  box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
  padding-bottom: 20px;
  background-color: #ffff;
}

.item-info {
  border-bottom: 1px solid #cccc;
  padding-bottom: 10px;
}

.total-info {
  color: #817E9E;
  padding: 20px;
}

.price {
  color: #4E598C;
}

.total-price {
  border: 1px solid #cccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400px;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 20px;
}

.total-wrap {
  padding: 0px 40px 0px 40px;
}

.input {
  width: 650px;
}