.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

h3 {
  font-style: bold;
  font-size: 36px;
  line-height: 50px;
  color: #4E598C;
  line-height: 50px;
}

nav {
  border-bottom: 1px solid rgb(178, 178, 178);
}

.nav-items {
  text-decoration: none;
}